header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}
.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.row-header {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
}
.row-mobile {
    display: none;
}
.column-mobile {
    display: none;
}

/***** POST TYPES *****/
.photoset {
    margin-bottom: 10px;
}
.chat-lines {
    list-style: none;
}
.audio iframe {
    width: 100%;
}
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/***** CUSTOM TEXT LIKE BUTTON *****/
.like-b {
    /* Our Text Like Button */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.like-b .like_button iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: .000001;
    height: 100%;
    width: 100%;
}

.like-b .liked+.b {
    color: inherit;
}

.like-b .liked+.b:after {
    content: 'd';
}

/***** ANIMATIONS *****/
[class*="blink"] {
    -webkit-animation: blink .2s linear infinite;
            animation: blink .2s linear infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/***** GENERIC *****/
.btn-click:active {
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
}